html {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: bold;
}

/*** Header Section ***/

header {
    padding: 1rem 1.5rem;
}

header .logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

header .desktop {
    display: flex;
    align-items: center;
}

/*** Navigation Section ***/

header nav ul {
    display: flex;
}

header nav ul li {
    padding-right: 1rem;
}

header .desktop nav ul li:last-child {
    padding-right : 0;
}

header .mobile {
    display: none;
}

/*** Mobile Header Section ***/

@media only screen and (max-width: 580px) {
    header .desktop {
        display: none;
    }
    header .mobile {
        display: block;
        width: 100%;
    }
    header .mobile ul {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    header .mobile .logo {
        display: flex;
        align-items: center;
    }
}