* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    height: 6.4rem;
    width: 100%;
    z-index: 1;
}

.logo {
    height: 6.4rem;
    display: inline-flex;
    align-content: center;
}

.logo h1 {
    font-size: 2.3rem;
    text-transform: uppercase;
    color: grey;
    font-weight: 500;
    margin: auto 0;
}

.colmar {
    font-weight: bolder;
    color: dimgray;
}

.logo img {
    padding-left: 2.4rem;
    width: 4rem;
}

.navigation ul {
    display: flex;
    margin-right: 2.4rem;
}

.navigation ul li {
    list-style-type: none;
    margin-left: 1.6rem;
}

.navigation ul li a {
    text-decoration: none;
    color: grey;
    font-size: 1.8rem;
}

/*** MAIN SECTION ***/

main {
    position: relative;
    top: 6.4rem;
}

.partone {
    background-color: grey;
    display: flex;
    justify-content: flex-start;
}

.banner {
    width: 60%;
    overflow: hidden;
    padding: 3.2rem 2.4rem;
}

.banner img {
    max-width: 100%;
    height: auto;
    display: block;
}

.textbanner {
    width: 25%;
    text-align: left;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.textbanner h1 {
    font-size: 5rem;
    padding-bottom: 2rem;
}

.textbanner h2 {
    font-size: 3rem;
    padding-bottom: 3rem;
}

.textbanner .button {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 90%;
    display: block;
    background-color: darkslategrey;
}

.button h3 {
    font-size: 3rem;
    font-weight: 500;
    color: white;
}